<ngx-spinner
bdColor="rgba(51,51,51,0.5)"
size="medium"
color="#673ab7"
type="ball-spin-clockwise"
></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Asset Item Details</h4>
              </div>
              <div class="col-md-2 float-right"></div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="assetItem">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Id: </strong>{{ assetItem['assetItemID'] }}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Parent ID: </strong>{{ assetItem['parentID'] }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="currentActor">
                  <p><strong>Owner: </strong>{{ currentActor['actorName'] }}</p>
                </div>
                <div class="col-md-6" *ngIf="currentStep">
                  <p><strong>Current step: </strong>{{ currentStep['stepName'] }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p><strong>Process Date: </strong>{{ assetItem['processDate'] | date: 'MM-dd-yy HH:mm:ss' }}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Delivery Date: </strong>{{ assetItem['deliveryDate'] | date: 'MM-dd-yy HH:mm:ss' }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <p><strong>Order Price: </strong>{{ assetItem['orderPrice'] }}</p>
                </div>
                <div class="col-md-3">
                  <p><strong>Shipping Price: </strong>{{ assetItem['shippingPrice'] }}</p>
                </div>
                <div class="col-md-3">
                  <p><strong>Status: </strong>{{ assetItem['status'] }}</p>
                </div>
                <div class="col-md-3">
                  <p><strong>Quantity: </strong>{{ assetItem['quantity'] }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-15">
                  <h4 class="aditional-label">Aditional Info:</h4>
                  <mat-divider></mat-divider>
                </div>
                <div class="col-md-3" *ngFor="let aditionalInfo of assetItem.aditionalInfoMap">
                  <p>
                    <strong>{{ aditionalInfo.key }}: </strong>{{ aditionalInfo.value }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" onclick="history.back()">
          <i class="material-icons">arrow_back_ios</i>Back
        </button>
      </div>
    </div>
  </div>
</div>
