<ngx-spinner
bdColor="rgba(51,51,51,0.5)"
size="medium"
color="#673ab7"
type="ball-spin-clockwise"
></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Step Details</h4>
              </div>
              <div class="col-md-2 float-right"></div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="step" class="row">
              <div class="col-md-3">
                <p><strong>Id: </strong>{{ step['stepID'] }}</p>
              </div>
              <div class="col-md-3">
                <p><strong>Name: </strong>{{ step['stepName'] }}</p>
              </div>
              <div class="col-md-3">
                <p><strong>Order: </strong>{{ step['stepOrder'] }}</p>
              </div>
              <div class="col-md-3">
                <p><strong>Actor Type: </strong>{{ step['actorType'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" onclick="history.back()">
          <i class="material-icons">arrow_back_ios</i>Back
        </button>
      </div>
    </div>
  </div>
</div>
