<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Track Asset Item</h4>
              </div>
              <div class="col-md-2 float-right"></div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" onclick="history.back()">
          <i class="material-icons">arrow_back_ios</i>Back
        </button>
      </div>
    </div>
  </div>
</div>
