.form-inline {
    margin-left: 30px;
}

input {
    width: 400px !important;
}
.form-control {
    color: #fff;
}

.has-white .form-control:focus {
    box-shadow: none;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.radioclass{
    float: left;
    margin-left: 30px;
    padding-top: 10px;
}

label {
    color: #fff !important;
}

