<ngx-spinner
    bdColor="rgba(51,51,51,0.5)"
    size="medium"
    color="#673ab7"
    type="ball-spin-clockwise"
></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                  <form class="form-inline" [formGroup]="auditForm" (ngSubmit)="onSubmit()">
                    <div class="form-group has-white bmd-form-group">
                      <input class="form-control" placeholder="Search" type="text"  formControlName="searchId">
                    </div>
                    <button class="btn btn-white btn-raised btn-fab btn-fab-mini btn-round" type="submit">
                      <i class="material-icons">search</i>
                    </button>
                  </form>
                  <div class="radioclass">
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1" (change)="radioChange($event)" checked>Asset</mat-radio-button>
                      <mat-radio-button value="2" (change)="radioChange($event)">Actor</mat-radio-button>
                      <mat-radio-button value="3" (change)="radioChange($event)" >Step</mat-radio-button>
                      <mat-radio-button value="4" (change)="radioChange($event)">Asset Item</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </nav>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-30" *ngIf="recordMap.size > 0">
                <mat-accordion multi="true">
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of convertedMap | keyvalue">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <span class="black-text">TxId:</span> 
                        <span class="simple-text">{{item.value.txId}}</span> 
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        {{item.value.txId}}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <pre>{{item.key | json}}</pre><br/>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col-md-12 text-center" *ngIf="recordMap.size == 0">
                  <span>Provide an ID to search.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" onclick="history.back()">
        <i class="material-icons">arrow_back_ios</i>Back
        </button>
      </div>
    </div>
  </div>
</div>