<div class="main-content">
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-12">
               <div class="card">
                   <div class="card-header card-header-danger">
                       <h4 class="card-title ">Asset List</h4>
                       <p class="card-category"> View and manage Assets</p>
                   </div>
                   <div class="card-body">
                       <div class="table-responsive">
                           <table class="table">
                               <thead class=" text-primary">
                                   <th>ID</th>
                                   <th>Name</th>
                                   <th>Items</th>
                                   <th>Actors</th>
                                   <th>Steps</th>
                                   <th>Actions</th>
                               </thead>
                               <tbody>
                                 <tr *ngFor="let asset of assets"> <!--<tr *ngFor="let asset of assets | async">-->
                                   <td>{{asset.assetID}}</td>
                                   <td>{{asset.assetName}}</td>
                                   <td>{{asset.assetItems.length}}</td>
                                   <td>{{asset.actors.length}}</td>
                                   <td>{{asset.steps.length}}</td>
                                   <td>
                                      <button (click)="deleteAsset(asset.assetID)" class="btn btn-danger">Delete</button>
                                      <button (click)="editAsset(asset.assetID)" class="btn btn-info" style="margin-left: 10px">Edit</button>
                                      <button (click)="assetDetails(asset.assetID)" class="btn btn-info" style="margin-left: 10px">Details</button>
                                   </td>
                                 </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
 </div>
 