th {
  color: #666;
  color: #212529;
}

th:last-child {
  width: 140px;
  text-align: center;
}
.col-md-4 {
  width: 25%;
}

.bt-actions {
  width: 140px;
  align-items: center;
  display: flex;
  justify-content: center;

  .btn.btn-default {
    margin-left: 10px;
    padding: 10px;
    background-color: transparent;
    border-color: transparent;
    /* color: #a9afbb; */
    /* color: #9124a3; */
    color: #673ab7;
  }
  .btn.btn-default:first-child {
    margin-left: 0px;
  }
}

span.material-icons {
  color: #f44336;
  font-size: 75px;
}

@media (min-width: 768px) {
  .modal-confirm {
    max-width: 500px;
    width: 500px;

    .btn-default {
      background-color: #999999;
      border-color: #999999;
    }
  }
}
