<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <div class="row">
              <div class="nav-tabs-navigation col-md-10">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Asset Details:</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a
                        mat-button
                        class="nav-link active"
                        href="#asset-items"
                        data-toggle="tab"
                        (click)="mustShowCreateAssetItemButton()"
                      >
                        <i class="material-icons">list</i> Asset Items
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        mat-button
                        class="nav-link"
                        href="#actors"
                        data-toggle="tab"
                        (click)="mustHideCreateAssetItemButton()"
                      >
                        <i class="material-icons">person</i> Actors
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        mat-button
                        class="nav-link"
                        href="#steps"
                        data-toggle="tab"
                        (click)="mustHideCreateAssetItemButton()"
                      >
                        <i class="material-icons">double_arrow</i> Steps
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="nav-tabs-navigation col-md-2">
                <div class="nav-tabs-wrapper float-right" *ngIf="showCreateAssetItemButton">
                  <ul class="nav nav-tabs">
                    <li class="nav-item fake-primary-button">
                      <a
                        mat-button
                        class="nav-link"
                        [routerLink]=""
                        data-toggle="tab"
                        (click)="createAssetItem(asset.assetID)"
                      >
                        Create Asset Item
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="asset-items">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th>ID</th>
                      <th>Owner ID</th>
                      <th>Step ID</th>
                      <th>Parent ID</th>
                      <th>Process Date</th>
                      <th>Delivery Date</th>
                      <th>Order Price</th>
                      <th>Shipping Price</th>
                      <th>Status</th>
                      <th>Quantity</th>
                      <th>Actions</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let assetItem of asset.assetItems">
                        <!--<tr *ngFor="let asset of assets | async">-->
                        <td>{{ assetItem.assetItemID }}</td>
                        <td>{{ assetItem.ownerID }}</td>
                        <td>{{ assetItem.stepID }}</td>
                        <td>{{ assetItem.parentID }}</td>
                        <td>{{ assetItem.processDate }}</td>
                        <td>{{ assetItem.deliveryDate }}</td>
                        <td>{{ assetItem.orderPrice }}</td>
                        <td>{{ assetItem.shippingPrice }}</td>
                        <td>{{ assetItem.status }}</td>
                        <td>{{ assetItem.quantity }}</td>

                        <td style="width: 280px" class="bt-actions">
                          <button
                            (click)="assetItemDetails(asset.assetID, assetItem.assetItemID)"
                            class="btn btn-default"
                            st
                          >
                            <i class="material-icons">visibility</i>
                          </button>
                          <button (click)="editAssetItem(asset.assetID, assetItem.assetItemID)" class="btn btn-default">
                            <i class="material-icons">edit</i>
                          </button>
                          <button
                            (click)="moveAssetItem(asset.assetID, assetItem.assetItemID)"
                            class="btn btn-default rotate-90"
                          >
                            <i class="material-icons">alt_route</i>
                          </button>
                          <button
                            (click)="trackAssetItem(asset.assetID, assetItem.assetItemID)"
                            class="btn btn-default"
                          >
                            <i class="material-icons">timeline</i>
                          </button>
                          <button
                            (click)="openModal(template, 'Asset Item', assetItem.assetItemID)"
                            class="btn btn-default"
                          >
                            <i class="material-icons">delete</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="actors">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let actor of asset.actors">
                    <div class="card card-stats">
                      <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">person</i>
                        </div>
                        <h4 class="card-title">{{ actor.actorName }}</h4>
                        <p class="card-category">{{ actor.actorType }}</p>
                      </div>
                      <div class="card-footer" style="justify-content: center">
                        <button (click)="actorDetails(asset.assetID, actor.actorID)" class="btn btn-default" st>
                          <i class="material-icons">visibility</i>
                        </button>
                        <button (click)="editActor(asset.assetID, actor.actorID)" class="btn btn-default">
                          <i class="material-icons">edit</i>
                        </button>
                        <button (click)="openModal(template, 'Actor', actor.actorID)" class="btn btn-default">
                          <i class="material-icons">delete</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="steps">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let step of asset.steps">
                    <div class="card card-stats">
                      <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">double_arrow</i>
                        </div>
                        <h4 class="card-title">{{ step.stepName }}</h4>
                        <p class="card-category">
                          <strong>Step Order: </strong>
                          {{ step.stepOrder }}
                        </p>
                      </div>
                      <div class="card-footer" style="justify-content: center">
                        <button (click)="stepDetails(asset.assetID, step.stepID)" class="btn btn-default" st>
                          <i class="material-icons">visibility</i>
                        </button>
                        <button (click)="editStep(asset.assetID, step.stepID)" class="btn btn-default">
                          <i class="material-icons">edit</i>
                        </button>
                        <button (click)="openModal(template, 'Step', step.stepID)" class="btn btn-default">
                          <i class="material-icons">delete</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ACTORS LIST-->
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Actors</h4>
                <p class="card-category">View and manage Actors</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let actor of asset.actors">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">person</i>
                    </div>
                    <h4 class="card-title">{{ actor.actorName }}</h4>
                    <p class="card-category">{{ actor.actorType }}</p>
                  </div>
                  <div class="card-footer" style="justify-content: center">
                    <button (click)="actorDetails(asset.assetID, actor.actorID)" class="btn btn-default" st>
                      <i class="material-icons">visibility</i>
                    </button>
                    <button (click)="editActor(asset.assetID, actor.actorID)" class="btn btn-default">
                      <i class="material-icons">edit</i>
                    </button>
                    <button (click)="openModal(template, 'Actor', actor.actorID)" class="btn btn-default">
                      <i class="material-icons">delete</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- STEPS LIST-->
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Steps</h4>
                <p class="card-category">View and manage Steps</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let step of asset.steps">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">double_arrow</i>
                    </div>
                    <h4 class="card-title">{{ step.stepName }}</h4>
                    <p class="card-category">
                      <strong>Step Order: </strong>
                      {{ step.stepOrder }}
                    </p>
                  </div>
                  <div class="card-footer" style="justify-content: center">
                    <button (click)="stepDetails(asset.assetID, step.stepID)" class="btn btn-default" st>
                      <i class="material-icons">visibility</i>
                    </button>
                    <button (click)="editStep(asset.assetID, step.stepID)" class="btn btn-default">
                      <i class="material-icons">edit</i>
                    </button>
                    <button (click)="openModal(template, 'Step', step.stepID)" class="btn btn-default">
                      <i class="material-icons">delete</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- ASSET ITEMS LIST-->
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Asset Items</h4>
                <p class="card-category">View and manage Assets Items</p>
              </div>
              <div class="col-md-2 float-right">
                <button class="btn btn-primary float-right" (click)="createAssetItem(asset.assetID)">Create</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Owner ID</th>
                  <th>Step ID</th>
                  <th>Parent ID</th>
                  <th>Process Date</th>
                  <th>Delivery Date</th>
                  <th>Order Price</th>
                  <th>Shipping Price</th>
                  <th>Status</th>
                  <th>Quantity</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let assetItem of asset.assetItems">
                    <td>{{ assetItem.assetItemID }}</td>
                    <td>{{ assetItem.ownerID }}</td>
                    <td>{{ assetItem.stepID }}</td>
                    <td>{{ assetItem.parentID }}</td>
                    <td>{{ assetItem.processDate }}</td>
                    <td>{{ assetItem.deliveryDate }}</td>
                    <td>{{ assetItem.orderPrice }}</td>
                    <td>{{ assetItem.shippingPrice }}</td>
                    <td>{{ assetItem.status }}</td>
                    <td>{{ assetItem.quantity }}</td>

                    <td style="width: 280px" class="bt-actions">
                      <button
                        (click)="assetItemDetails(asset.assetID, assetItem.assetItemID)"
                        class="btn btn-default"
                        st
                      >
                        <i class="material-icons">visibility</i>
                      </button>
                      <button (click)="editAssetItem(asset.assetID, assetItem.assetItemID)" class="btn btn-default">
                        <i class="material-icons">edit</i>
                      </button>
                      <button
                        (click)="moveAssetItem(asset.assetID, assetItem.assetItemID)"
                        class="btn btn-default rotate-90"
                      >
                        <i class="material-icons">alt_route</i>
                      </button>
                      <button (click)="trackAssetItem(asset.assetID, assetItem.assetItemID)" class="btn btn-default">
                        <i class="material-icons">timeline</i>
                      </button>
                      <button
                        (click)="openModal(template, 'Asset Item', assetItem.assetItemID)"
                        class="btn btn-default"
                      >
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" onclick="history.back()">
          <i class="material-icons">arrow_back_ios</i>Back
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <span class="material-icons">error_outline</span>
    <h2>Are you sure?</h2>
    <p>Do you want to delete the {{ selectedObjectType }} {{ selectedObjectID }} ?</p>
    <button type="button" class="btn btn-default" (click)="decline()" style="margin-right: 5px">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirm()" style="margin-left: 5px">Delete</button>
  </div>
</ng-template>
