<ngx-spinner
bdColor="rgba(51,51,51,0.5)"
size="medium"
color="#673ab7"
type="ball-spin-clockwise"
></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Create Asset Item</h4>
              </div>
              <div class="col-md-2 float-right"></div>
            </div>
          </div>
          <div class="card-body">
            <div>
              <form [formGroup]="assetItemFormGroup">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Asset Item ID</mat-label>
                      <input
                        matInput
                        id="id"
                        placeholder="A new ID will be generated if not provided"
                        formControlName="assetItemID"
                        name="assetItemID"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        id="parentID"
                        placeholder="Parent ID"
                        formControlName="parentID"
                        name="parentID"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Owner</mat-label>
                      <mat-select formControlName="actorID" (selectionChange)="onSelectActor($event)">
                        <mat-option *ngFor="let actor of allowedActors" [value]="actor.actorID">
                          <span>{{ actor.actorName }}</span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput id="stepOrder" placeholder="Step Order" formControlName="stepOrder" name="stepOrder" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        type="datetime-local"
                        id="deliveryDate"
                        placeholder="Delivery Date"
                        formControlName="deliveryDate"
                        name="deliveryDate"
                        step="1"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        id="processDate"
                        placeholder="Process Date"
                        formControlName="processDate"
                        name="processDate"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        id="orderPrice"
                        placeholder="Order Price"
                        formControlName="orderPrice"
                        name="orderPrice"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        id="shippingPrice"
                        placeholder="Shipping Price"
                        formControlName="shippingPrice"
                        name="shippingPrice"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput id="status" placeholder="Status" formControlName="status" name="status" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput id="quantity" placeholder="Quantity" formControlName="quantity" name="quantity" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="margin-bottom: 15px">
                    <!-- <p class="aditional-label">Aditional Info:</p> -->
                    <button
                      class="btn btn-primary"
                      mat-button
                      mat-raised-button
                      (click)="addAditionalInfo()"
                      type="button"
                    >
                      <i class="material-icons">add</i>
                      Add Aditional Info
                    </button>
                    <mat-divider></mat-divider>
                  </div>
                  <div class="col-md-12">
                    <form [formGroup]="aditionalInfoMapFormGroup">
                      <div
                        class="inner-row col-md-3"
                        formArrayName="aditionalInfoMap"
                        *ngFor="
                          let aditionalInfo of aditionalInfoMapFormGroup.get('aditionalInfoMap')['controls'];
                          let i = index
                        "
                      >
                        <div [formGroupName]="i" class="card inner">
                          <div class="card-header">
                            <button
                              class="btn btn-remove-item float-right"
                              mat-button
                              mat-raised-button
                              (click)="removeAditionalInfo(i)"
                              type="button"
                            >
                              <i class="material-icons">highlight_off</i>
                            </button>
                          </div>
                          <div class="card-body">
                            <mat-form-field>
                              <mat-label>Key</mat-label>
                              <input matInput formControlName="key" placeholder="Key" />
                            </mat-form-field>
                            <mat-form-field>
                              <mat-label>Value</mat-label>
                              <input matInput formControlName="value" placeholder="Value" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <!-- <button
                      class="btn btn-primary"
                      mat-button
                      mat-raised-button
                      (click)="addAditionalInfo()"
                      type="button"
                    >
                      <i class="material-icons">add</i>
                      Add Aditional Info
                    </button> -->
                    <button
                      mat-raised-button
                      type="submit"
                      class="btn btn-info float-right"
                      (click)="createAssetItem()"
                    >
                      Submit
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      class="btn btn-default float-right"
                      onclick="history.back()"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" onclick="history.back()">
          <i class="material-icons">arrow_back_ios</i>Back
        </button>
      </div>
    </div>
  </div>
</div>
