<ngx-spinner
bdColor="rgba(51,51,51,0.5)"
size="medium"
color="#673ab7"
type="ball-spin-clockwise"
></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
          <!-- #docregion editable -->
          <mat-step [stepControl]="assetFormGroup" [editable]="isEditable">
            <!-- #enddocregion editable -->
            <form [formGroup]="assetFormGroup">
              <!-- #docregion step-label -->
              <ng-template matStepLabel>Asset</ng-template>
              <!-- #enddocregion step-label -->
              <div class="card">
                <div class="card-header card-header-info">
                  <i class="material-icons float-left">category</i>
                  <div class="float-left">
                    <h4 class="card-title">Fill asset info</h4>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row" style="margin-top: 15px">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Asset ID</mat-label>
                        <input matInput formControlName="assetID" placeholder="A new ID will be generated if not provided" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Asset Name</mat-label>
                        <input matInput formControlName="assetName" placeholder="Asset name" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" placeholder="Description" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-info float-right" type="button" mat-button mat-raised-button matStepperNext>
                    Next
                    <i class="material-icons">arrow_forward_ios</i>
                  </button>
                  <button
                    class="btn btn-default float-right"
                    type="button"
                    mat-button
                    mat-raised-button
                    matStepperNext
                    onclick="history.back()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="actorsFormGroup" [editable]="isEditable">
            <form [formGroup]="actorsFormGroup">
              <ng-template matStepLabel>Actors</ng-template>
              <div class="card">
                <div class="card-header card-header-info">
                  <i class="material-icons float-left">person</i>
                  <div class="float-left">
                    <h4 class="card-title">Define Actors</h4>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div
                      class="inner-row"
                      formArrayName="actors"
                      *ngFor="let actor of actorsFormGroup.get('actors')['controls']; let i = index"
                    >
                      <div [formGroupName]="i" class="card inner">
                        <div class="card-header">
                          <button
                            class="btn btn-remove-item float-right"
                            mat-button
                            mat-raised-button
                            (click)="removeActor(i)"
                            [disabled]="actorsFormGroup.get('actors').length < 2"
                            type="button"
                          >
                            <i class="material-icons">highlight_off</i>
                          </button>
                        </div>
                        <div class="card-body">
                          <mat-form-field>
                            <mat-label>Id</mat-label>
                            <input matInput formControlName="actorID" placeholder="Actor ID" />
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="actorName" placeholder="Name" />
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Type</mat-label>
                            <input matInput formControlName="actorType" placeholder="Type" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-primary" mat-button mat-raised-button (click)="addActor()" type="button">
                    <i class="material-icons">add</i>
                    Add Actor
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btn-info float-right"
                    type="button"
                    mat-button
                    mat-raised-button
                    matStepperNext
                    (click)="updateActorTypes()"
                  >
                    Next
                    <i class="material-icons">arrow_forward_ios</i>
                  </button>
                  <button
                    class="btn btn-info float-right"
                    type="button"
                    mat-button
                    mat-raised-button
                    matStepperPrevious
                  >
                    <i class="material-icons">arrow_back_ios</i>
                    Previous
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="stepsFormGroup" [editable]="isEditable">
            <form [formGroup]="stepsFormGroup">
              <ng-template matStepLabel>Steps</ng-template>
              <div class="card">
                <div class="card-header card-header-info">
                  <i class="material-icons float-left">double_arrow</i>
                  <div class="float-left">
                    <h4 class="card-title">Define Steps</h4>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div
                      class="inner-row"
                      formArrayName="steps"
                      *ngFor="let step of stepsFormGroup.get('steps')['controls']; let j = index"
                    >
                      <div [formGroupName]="j" class="card inner">
                        <div class="card-header">
                          <button
                            class="btn btn-remove-item float-right"
                            mat-button
                            mat-raised-button
                            (click)="removeStep(j)"
                            [disabled]="stepsFormGroup.get('steps').length < 2"
                            type="button"
                          >
                            <i class="material-icons">highlight_off</i>
                          </button>
                        </div>
                        <div class="card-body">
                          <mat-form-field>
                            <mat-label>Id</mat-label>
                            <input matInput formControlName="stepID" placeholder="Step ID" />
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="stepName" placeholder="Name" />
                          </mat-form-field>
                          <mat-form-field class="invisible">
                            <mat-label>order</mat-label>
                            <input matInput formControlName="stepOrder" value="{{ j }}" />
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Actor Type</mat-label>
                            <mat-select formControlName="actorType">
                              <mat-option *ngFor="let actorType of actorTypes" [value]="actorType">
                                {{ actorType }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-primary" mat-button mat-raised-button (click)="addStep()" type="button">
                    <i class="material-icons">add</i>
                    Add Step
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btn-info float-right"
                    type="button"
                    mat-button
                    mat-raised-button
                    matStepperNext
                    (click)="updateStepOrder()"
                  >
                    Next
                    <i class="material-icons">arrow_forward_ios</i>
                  </button>
                  <button
                    class="btn btn-info float-right"
                    type="button"
                    mat-button
                    mat-raised-button
                    matStepperPrevious
                  >
                    <i class="material-icons">arrow_back_ios</i>
                    Previous
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <div class="row">
              <div class="col-md-12 text-center">
                <h2>Review Asset details:</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-info">
                    <div class="row">
                      <div class="col-md-10">
                        <i class="material-icons float-left">category</i>
                        <div class="float-left">
                          <h4 class="card-title">Asset:</h4>
                        </div>
                      </div>
                      <div class="col-md-2 float-right"></div>
                    </div>
                  </div>
                  <div class="card-body">
                    <p><strong>ID: </strong>{{ assetFormGroup.get('id')?.value }}</p>
                    <p><strong>Name: </strong>{{ assetFormGroup.get('assetName')?.value }}</p>
                    <p><strong>Description: </strong>{{ assetFormGroup.get('description')?.value }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header card-header-info">
                <div class="row">
                  <div class="col-md-10">
                    <i class="material-icons float-left">person</i>
                    <div class="float-left">
                      <h4 class="card-title">Actors:</h4>
                    </div>
                  </div>
                  <div class="col-md-2 float-right"></div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div
                    class="inner-row"
                    *ngFor="let actor of actorsFormGroup.get('actors').value; let i = index"
                    class="col-md-2 float-left"
                  >
                    <div class="card inner">
                      <div class="card-body">
                        <p><strong>Id: </strong>{{ actor['actorID'] }}</p>
                        <p><strong>Name: </strong>{{ actor['actorName'] }}</p>
                        <p><strong>Type: </strong>{{ actor['actorType'] }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header card-header-info">
                <div class="row">
                  <div class="col-md-10">
                    <i class="material-icons float-left">double_arrow</i>
                    <div class="float-left">
                      <h4 class="card-title">Steps:</h4>
                    </div>
                  </div>
                  <div class="col-md-2 float-right"></div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div
                    class="inner-row"
                    *ngFor="let step of stepsFormGroup.get('steps').value; let i = index"
                    class="col-md-2 float-left"
                  >
                    <div class="card inner">
                      <div class="card-body">
                        <p><strong>Id: </strong>{{ step['stepID'] }}</p>
                        <p><strong>Name: </strong>{{ step['stepName'] }}</p>
                        <p><strong>Order: </strong>{{ step['stepOrder'] }}</p>
                        <p><strong>Type: </strong>{{ step['actorType'] }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <button class="btn btn-info" type="button" mat-button mat-raised-button matStepperPrevious>
                  <i class="material-icons">arrow_back_ios</i>
                  Previous
                </button>
                <button
                  class="btn btn-default"
                  mat-button
                  mat-raised-button
                  (click)="stepper.reset(); resetForm()"
                  type="button"
                >
                  <i class="material-icons">replay</i>
                  Reset
                </button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary float-right" (click)="createAsset()">
                  <i class="material-icons">check</i>Create
                </button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
