.btn.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #a9afbb;
}

.btn.btn-default {
  background-color: #fff !important;
  border-color: #00bcd4 !important;
  border-width: 2px;
  padding: 12px 25px;
  margin-right: 15px;
  color: #00bcd4 !important;
  box-shadow: none;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.mat-stepper-horizontal {
  background-color: transparent;
}

::ng-deep {
  .mat-horizontal-stepper-header .mat-step-icon {
    background-color: #ae84b2; //ae84b2
    background-color: #b39ddb; //ae84b2
  }
  .mat-step-header .mat-step-icon-selected {
    background-color: #673ab7; //9c27b0
    color: white;
  }
}
