.btn.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #a9afbb;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.mat-stepper-horizontal {
  background-color: transparent;
}

::ng-deep {
  .mat-horizontal-stepper-header .mat-step-icon {
    background-color: #ae84b2;
  }
  .mat-step-header .mat-step-icon-selected {
    background-color: #9c27b0;
    color: white;
  }
}
