<!-- <pre>{{ selectedAssetItem | json }}</pre> -->
<div *ngIf="selectedAssetItem">
  <div class="row mt-25">
    <div class="col-md-6">
      <p><strong>Id: </strong>{{ selectedAssetItem.key }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Parent ID: </strong>{{ selectedAssetItem.parent }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Current step: </strong>{{ selectedAssetItem.step }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Owner: </strong>{{ selectedAssetItem.owner }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><strong>Process Date: </strong>{{ selectedAssetItem.processDate | date: 'MM-dd-yy HH:mm:ss' }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Delivery Date: </strong>{{ selectedAssetItem.deliveryDate | date: 'MM-dd-yy HH:mm:ss' }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>Order Price: </strong>{{ selectedAssetItem.orderPrice }}</p>
    </div>
    <div class="col-md-3">
      <p><strong>Shipping Price: </strong>{{ selectedAssetItem.shippingPrice }}</p>
    </div>
    <div class="col-md-3">
      <p><strong>Status: </strong>{{ selectedAssetItem.status }}</p>
    </div>
    <div class="col-md-3">
      <p><strong>Quantity: </strong>{{ selectedAssetItem.quantity }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-15">
      <h4 class="aditional-label">Aditional Info:</h4>
      <mat-divider></mat-divider>
    </div>
    <div class="col-md-3" *ngFor="let aditionalInfo of selectedAssetItem.aditionalInfoMap | keyvalue">
      <p>
        <strong>{{ aditionalInfo.key }}: </strong>{{ aditionalInfo.value }}
      </p>
    </div>
  </div>
</div>

<div *ngIf="!selectedAssetItem" class="row">
  <div class="col-md-12 text-center">
    <span>No Asset Item selected.</span>
  </div>
</div>
