/*BODY - login page*/

/* You can add global styles to this file, and also import other style files */
.btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
  border-color: transparent !important;
}

.btn {
  border: 0;
  -webkit-box-shadow: 1px 1px 2px rgb(0 0 0 / 30%) !important;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 30%) !important;
  -webkit-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
  transition: all 0.2s !important;
}

.btn-small {
  /* box-shadow: none !important; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-image: none;
  padding: 0;
  text-align: center;
  line-height: 0px;
  position: relative;
  margin: 5px 0 0;
}

.btn-small:hover {
  background-color: #eee !important;
}

$deep-purple-500: #673ab7 !default;
$brand-primary: $deep-purple-500 !default;
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $brand-primary !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #212529 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $brand-primary !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.mat-form-field-ripple {
  background-color: #6731b7 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#fff; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#fff;
  background-color:#fff ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#fff;
}

.mat-radio-button label {
  color:#fff;
}

.mat-radio-outer-circle {
  border-color: rgba(255, 255, 255, 0.54);
}