<ngx-spinner
bdColor="rgba(51,51,51,0.5)"
size="medium"
color="#673ab7"
type="ball-spin-clockwise"
></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Move Asset Items</h4>
                <p class="card-category">Move Assets Items between Steps</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="assetItemID"
                              placeholder="Asset Item ID"
                              [(ngModel)]="assetItem.assetItemID"
                              name="assetItemID"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="parentID"
                              placeholder="Parent ID"
                              [(ngModel)]="assetItem.parentID"
                              name="parentID"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12" *ngIf="currentStep">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="stepID"
                              placeholder="Step"
                              [(ngModel)]="currentStep.stepName"
                              name="stepID"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12" *ngIf="currentActor">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="ownerID"
                              placeholder="Owner"
                              [(ngModel)]="currentActor.actorName"
                              name="ownerID"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              type="datetime-local"
                              id="processDate"
                              placeholder="Process Date"
                              [ngModel]="assetItem.processDate"
                              name="processDate"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              type="datetime-local"
                              id="deliveryDate"
                              placeholder="Delivery Date"
                              [(ngModel)]="assetItem.deliveryDate"
                              name="deliveryDate"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="orderPrice"
                              placeholder="Order Price"
                              [(ngModel)]="assetItem.orderPrice"
                              name="orderPrice"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="shippingPrice"
                              placeholder="Shipping Price"
                              [(ngModel)]="assetItem.shippingPrice"
                              name="shippingPrice"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="status"
                              placeholder="Status"
                              [(ngModel)]="assetItem.status"
                              name="status"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="quantity"
                              placeholder="Quantity"
                              [(ngModel)]="assetItem.quantity"
                              name="quantity"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 mb-15">
                          <h4 class="aditional-label">Aditional Info:</h4>
                          <mat-divider></mat-divider>
                        </div>
                        <div class="col-md-6" *ngFor="let aditionalInfo of assetItem.aditionalInfoMap">
                          <p>
                            <strong>{{ aditionalInfo.key }}: </strong>{{ aditionalInfo.value }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 arrows">
                  <div class="row">
                    <div class="col-md-12">
                      <i class="material-icons">double_arrow</i>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <mat-label>Asset Item ID</mat-label>
                            <input
                              matInput
                              id="newAssetItemID"
                              placeholder="A new ID will be generated if not provided"
                              [(ngModel)]="newAssetItem.assetItemID"
                              name="newAssetItemID"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="parentIDNew"
                              placeholder="Parent ID"
                              [(ngModel)]="newAssetItem.parentID"
                              name="parentIDNew"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field>
                            <mat-select
                              placeholder="Step"
                              [(value)]="selected"
                              (selectionChange)="getStepSelected($event)"
                            >
                              <mat-select-trigger>{{ selected?.stepName }}</mat-select-trigger>
                              <mat-option *ngFor="let step of allowedSteps" [value]="step">
                                <i class="material-icons" *ngIf="step.stepOrder <= currentStep.stepOrder">arrow_back</i>
                                {{ step.stepName }}
                                <i class="material-icons" *ngIf="step.stepOrder > currentStep.stepOrder">arrow_forward</i>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <!-- <mat-label>Owner</mat-label> -->
                            <mat-select 
                              placeholder="Owner"
                              [(value)]="selectedOwner"
                              (selectionChange)="getOwnerSelected($event)"
                              [disabled]="!allowedActors"
                            >
                              <mat-select-trigger>{{ selectedOwner?.actorName }}</mat-select-trigger>
                              <mat-option *ngFor="let actor of allowedActors" [value]="actor">
                                <span>{{ actor.actorName }}</span>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <!-- <input
                              matInput
                              type="datetime-local"
                              id="processDateNew"
                              placeholder="Process Date"
                              [ngModel]="newAssetItem.processDate"
                              name="processDateNew"
                              disabled
                            /> -->
                            <input
                              matInput
                              type="datetime-local"
                              id="processDateNew"
                              placeholder="Process Date"
                              [(ngModel)]="newAssetItem.processDate"
                              name="processDateNew"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              type="datetime-local"
                              id="deliveryDateNew"
                              placeholder="Delivery Date"
                              [(ngModel)]="newAssetItem.deliveryDate"
                              name="deliveryDateNew"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="orderPriceNew"
                              placeholder="Order Price"
                              [(ngModel)]="newAssetItem.orderPrice"
                              name="orderPriceNew"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="shippingPriceNew"
                              placeholder="Shipping Price"
                              [(ngModel)]="newAssetItem.shippingPrice"
                              name="shippingPriceNew"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="statusNew"
                              placeholder="Status"
                              [(ngModel)]="newAssetItem.status"
                              name="statusNew"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              id="quantityNew"
                              placeholder="Quantity"
                              [(ngModel)]="newAssetItem.quantity"
                              name="quantityNew"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="margin-bottom: 15px">
                          <!-- <p class="aditional-label">Aditional Info:</p> -->
                          <button
                            class="btn btn-primary"
                            mat-button
                            mat-raised-button
                            (click)="addAditionalInfo()"
                            type="button"
                          >
                            <i class="material-icons">add</i>
                            Add Aditional Info
                          </button>
                          <mat-divider></mat-divider>
                        </div>
                        <div class="col-md-12">
                          <form [formGroup]="aditionalInfoMapFormGroup">
                            <div
                              class="inner-row col-md-6"
                              formArrayName="aditionalInfoMap"
                              *ngFor="
                                let aditionalInfo of aditionalInfoMapFormGroup.get('aditionalInfoMap')['controls'];
                                let i = index
                              "
                            >
                              <div [formGroupName]="i" class="card inner">
                                <div class="card-header">
                                  <button
                                    class="btn btn-remove-item float-right"
                                    mat-button
                                    mat-raised-button
                                    (click)="removeAditionalInfo(i)"
                                    type="button"
                                  >
                                    <i class="material-icons">highlight_off</i>
                                  </button>
                                </div>
                                <div class="card-body">
                                  <mat-form-field>
                                    <mat-label>Key</mat-label>
                                    <input matInput formControlName="key" placeholder="Key" />
                                  </mat-form-field>
                                  <mat-form-field>
                                    <mat-label>Value</mat-label>
                                    <input matInput formControlName="value" placeholder="Value" />
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 float-right">
                  <button mat-raised-button type="submit" class="btn btn-info float-right">Submit</button>
                  <button mat-raised-button type="button" class="btn btn-default float-right" onclick="history.back()">
                    Cancel
                  </button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right" onclick="history.back()">
          <i class="material-icons">arrow_back_ios</i>Back
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <span class="material-icons">error_outline</span>
    <h2>Are you sure?</h2>
    <p>Do you want to delete the asset item {{ selectedAssetItem.assetItemID }} ?</p>
    <button type="button" class="btn btn-default" (click)="decline()" style="margin-right: 5px">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirm()" style="margin-left: 5px">Delete</button>
  </div>
</ng-template>
